* {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: #f5f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #293264;
  text-align: center;
}

.intro-title,
.quiz-question {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.intro-title {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 0;
}

.intro-desc {
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 0;
  margin-top: 0.4375rem;
}

.intro-btn {
  background: #4d5b9e;
  border-radius: 0.938rem;
  border: none;
  line-height: 2.2rem;
  color: #f5f7fb;
  font-style: normal;
  font-weight: 500;
  width: 12.5em;
  height: 3.125em;
  margin-top: 1.8125rem;
}

.yellow-blob {
  position: absolute;
  top: 0;
  right: 0;
}

.blue-blob {
  position: absolute;
  bottom: 0;
  left: 0;
}

.quiz-blobs {
  transform: scale(0.7);
}

.quiz-yellow-blob {
  transform: translate(3rem, -3rem)
}

.quiz-blue-blob {
  transform: translate(-3rem, 3rem)
}

.quiz {
  color: #293264;
  font-weight: 500;
  min-width: 25em;
}

.quiz-container {
  min-width: auto;
  border-bottom: 0.0496rem solid #dbdef0;
  margin-bottom: 0;
}

.quiz-question {
  max-width: 25em;
  line-height: 1.1875rem;
  margin-bottom: 0.75rem;
  margin-top: 0.9375rem;
}

.quiz-answers {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.9375rem;
  margin-top: 0;
}

.quiz-answer,
.quiz-submit {
  font-size: 0.64rem;
  line-height: 0.75rem;
  text-align: center;
}

.quiz-answer {
  box-sizing: border-box;
  color: #293264;
  min-width: 4.12rem;
  min-height: 1.2906rem;
  border: 0.794239px solid #4d5b9e;
  border-radius: 7.94239px;
  background: 0;
  margin-right: 12.71px;
}

.quiz-selected {
  background: #d6dbf5;
  border: 0;
}

.quiz-submit {
  background: #4d5b9e;
  border-radius: 0.625rem;
  font-weight: 600;
  color: #f5f7fb;
  min-width: 11.71875em;
  min-height: 3.41796875em;
  border: none;
  margin-top: 1.25rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
